################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreAngular/.vs/AspNetCoreAngular
/AspNetCoreAngular/angularapp/.vscode
/AspNetCoreAngular/webapi/obj
